<H1> Data Science Tools and Ecosystem </H1>

**Objective**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- Create a table of Data Science tools
- Show examples of evaluating arithmetic expressions in Python

**Author**
Samarth Mishra

<h2>Introduction </h2>
In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Scikit-learn
5. Pytorch
6. Tenserflow

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |
| Power Bi           |

Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335